* {
    box-sizing: border-box;
}

body img {
    width: 100%;
}

body {
    min-width: 350px;
    margin: 0px;
    padding: 0px;
}

body a {
    text-decoration: none;
    text-decoration-color: black;     
}

header {
    display: flex;
}

.logo-holder {
    width: 100px;
}

.main-title {
    margin-top: 5px;
    font-size: 25px;
    font-weight: bold;
}

.card-content {
    padding: 4px;
}

.card-title {
    font-size: 18px;
}

.card-subtitle {
    opacity: 0.7;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: solid thin #ccc;
    border-radius: 10px;

}

.btn {
    border: none;
    padding: 2px 20px;
    cursor: pointer;
    border-radius: 20px;
    background-color: blue;
    font-size: 17px;

}

.form-group {
    display: flex;
}

.section-title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bolder;
}

@media (max-width:600px) {
    .logo-holder {
    width: 60px;
   }
   
    .card-title {
        font-size: 15px;
        text-align: center;
    }

    .card-subtitle {
        opacity: 0.7;
        font-size: 15px;
        text-align: center;
    }

    .banner {
        height: 100px;
    }

    
}
